	body {
		background:url("http://i.imgur.com/ARxo3.png" );
		text-align:center;
		color:#1b78bb;
		margin:auto;
		font-family: "Warnock Pro","Palatino","Book Antiqua",serif;


	}
	.courseCatalogDiv{
		position:relative;
	}

	.perOptions {
		
		display: none;
		width: 110px;
		height: 35px;
		text-align: center;
		padding: 2px;
		color:#FFFFD4;
	}
	.selected{
		background-color:#d1eeee;
	}
			
	#q{
		height:30px;	
		font-size: 18px;
		font-family: "Warnock Pro","Palatino","Book Antiqua",serif;
	}
	#q:focus{
		background:#FFFFD4;
	}
	#delete {
		width:15px;
		position:relative;
	}
	#results{
		overflow:auto;
		height:255px;
		width:540px;
	}

	#result{
		width:540px;
	}

	 #searchElement .ui-selecting { background: #FECA40; }
#searchElement .ui-selected { background: #F39814; color: white; }


	#Math, #Science, #English, #History, #Language, #Art, #P.E, #ComputerScience{
	  	border: 1px solid #DDDDB2;
		height:25px;
		opacity: 0.8;
		margin: 10 0px 0 15px;
    	-webkit-transition: margin-right 0.25s linear;
	}
	#Math:hover, #Science:hover, #English:hover, #History:hover, #Language:hover, #Art:hover, #P.E:hover, #ComputerScience:hover{
	    margin-right: 10px;
	}
	#Math {background:#ECC8EC;}
	#Science {background:#E1CAF9;}
	#English {background:#A8A8FF;}
	#History {background:#FFFFD4;}
	#Language {background:#FFC848;}

	::-webkit-scrollbar {
		background:transparent;overflow:visible; width:10px;
	}
	::-webkit-scrollbar:window-inactive{
		width:0px;
	}
	::-webkit-scrollbar-thumb {
		background-color:rgba(0,0,0,0.2);
	}
	::-webkit-scrollbar-thumb:hover {
		background:rgba(0,0,0,0.4);
	}
	::-webkit-scrollbar-thumb:horizontal {
		border-width:4px 6px;min-width:0px;
	}
	::-webkit-scrollbar-thumb:vertical {
		border-width:6px 4px;min-height:40px;
	}
	::-webkit-scrollbar-track-piece{ 
		background:transparent; width:20px;
	}

	::-webkit-scrollbar-corner {
		background:transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: #DDD;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #999;
	
	}

	#add, #add:visited {
		background: #222 url(http://zurb.com/images/alert-overlay.png) repeat-x;
		display: inline-block;
		padding: 4px 4px 4px;
		background-color: #2daebf;
		text-decoration: none;
		line-height: 1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		position: relative;
		cursor: pointer;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		font-size: 11px;
		color:#FFFFFF;
		font-weight:bold;

	}
	#add:hover {
		background-color: #007d9a; 
	}
	#searchElement{
	  	border-bottom: 1px solid #CCC;
		padding: 6px 6px 6px 6px;
	}
	#searchElement:hover{
		background:#D1EEEE;
	}
	a:visited{
		text-decoration: none;
	}
	a{
		text-decoration:none;
		color:#1b78bb;
		display:block;	
	}
	.selectedDiv{
		background:#FFFFD4;
	}