{% extends "registrationApp/base.html" %}

{% block content %}
<div class = "span-10" id = "enrolledDiv">
<h3 style="text-align:center">{{student.firstName}}'s Courses</h3>
{%if msg != "" %}
{{msg}}
{% if "You are already enrolled in a section " in msg %}
<br>
<input type = "submit" name = "{{section.id}}" id = "alreadyEnrolledYes" value = "Yes">
<input type = "submit" name = "{{section.id}}" id = "alreadyEnrolledNo" value = "No">

{% endif %} 
{% endif %} 
 
{% for studSched in  studentSchedule %}
	{% with forloop.counter|cut:" " as index %}
	<span>
		<div id="{{studSched.sectionID.courseID.discipline.discipline}}" class = "{% if studSched.sectionID.semesterOne != studSched.sectionID.semesterTwo %}span-5{% else %}span-10{% endif %}"style = "float: {% if studSched.sectionID.semesterOne != studSched.sectionID.semesterTwo %}{% if studSched.sectionID.semesterTwo %}right{% endif %}{% endif %}">
			{{studSched.sectionID.courseID.courseName}} |
			<div class = "period" style = "display:inline; ">{% if not "0" in studSched.sectionID.APeriodDays %}A{% endif %}{% if not "0" in studSched.sectionID.BPeriodDays %}B{% endif %}{% if not "0" in studSched.sectionID.CPeriodDays %}C{% endif %}{% if not "0" in studSched.sectionID.DPeriodDays %}D{% endif %}{% if not "0" in studSched.sectionID.EPeriodDays %}E{% endif %}{% if not "0" in studSched.sectionID.FPeriodDays %}F{% endif %}{% if not "0" in studSched.sectionID.GPeriodDays %}G{% endif %}{% if not "0" in studSched.sectionID.HPeriodDays %}H{% endif %}{% if not "0" in studSched.sectionID.IPeriodDays %}I{% endif %}{% if not "0" in studSched.sectionID.KPeriodDays %}K{% endif %}{% if not "0" in studSched.sectionID.ZPeriodDays %}Z{% endif %} Prd
				<span id ="{{studSched.id}}" class = "perOptions" > 
					{% for sec in secOption|slice:index|last%}<input type="submit" name ="{{sec.id}}" id = "switch" value="{% if not "0" in sec.APeriodDays %}A{% endif %}{% if not "0" in sec.BPeriodDays %}B{% endif %}{% if not "0" in sec.CPeriodDays %}C{% endif %}{% if not "0" in sec.DPeriodDays %}D{% endif %}{% if not "0" in sec.EPeriodDays %}E{% endif %}{% if not "0" in sec.FPeriodDays %}F{% endif %}{% if not "0" in sec.GPeriodDays %}G{% endif %}{% if not "0" in sec.HPeriodDays %}H{% endif %}{% if not "0" in sec.IPeriodDays %}I{% endif %}{% if not "0" in sec.KPeriodDays %}K{% endif %}{% if not "0" in sec.ZPeriodDays %}Z{% endif %}"> 
					{% endfor %}
			 	</span>

			</div>

		<div style="float:right; position:relative; top:3px">
			<input type="image" name= "{{studSched.id}}" id = "delete" src="{{STATIC_URL}}delete.png"/>
		</div>

	</div>
</span>
{% endwith %}
{% endfor %}

</div>
{%endblock%}