{% extends "registrationApp/base.html" %}
{% block content %}
<div class = "span-10" id = "enrolledDiv">
<h1 style="text-align:center">{{student.firstName}}'s Courses</h1>
{%if msg != "" %}
{{msg}}
{% endif %} 
 
{% for studSched in studentSchedule %}

	<div id="{{studSched.sectionID.courseID.discipline.discipline}}">
		{{studSched.sectionID.courseID.courseName}} 
		|		
		{% if not "0" in studSched.sectionID.APeriodDays %}A{% endif %}{% if not "0" in studSched.sectionID.BPeriodDays %}B{% endif %}{% if not "0" in studSched.sectionID.CPeriodDays %}C{% endif %}{% if not "0" in studSched.sectionID.DPeriodDays %}D{% endif %}{% if not "0" in studSched.sectionID.EPeriodDays %}E{% endif %}{% if not "0" in studSched.sectionID.FPeriodDays %}F{% endif %}{% if not "0" in studSched.sectionID.GPeriodDays %}G{% endif %}{% if not "0" in studSched.sectionID.HPeriodDays %}H{% endif %}{% if not "0" in studSched.sectionID.IPeriodDays %}I{% endif %}{% if not "0" in studSched.sectionID.KPeriodDays %}K{% endif %}{% if not "0" in studSched.sectionID.ZPeriodDays %}Z{% endif %} Period
		<div style="float:right; position:relative; top:3px">
			<input type="image" name= "{{studSched.id}}" id = "delete" src="{{STATIC_URL}}delete.png"/>
		</div>

	</div>

{% endfor %}
</div>
{%endblock%}