<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>
	    	{% block title %}

	    	{% endblock %}
	    </title>

	    <link rel="stylesheet" type="text/css" href="/registrationApp/site_media/CSS/registration.css" />
	    <link rel="stylesheet" type="text/css" href="/registrationApp/site_media/CSS/layout.css" />
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>	

		{% block headerscript %}

		{% endblock %}

	</head>

	<body>
		{% block content %}

		{% endblock %}
	</body>
		{% block script %}

		{% endblock %}
</html>