	<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}registration.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}screen.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

</head>
<body>
	{% block content %}

  {% endblock %}

</body>
{% block script %}

{% endblock %}

</html>