<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>
	    	{% block title %}{% endblock %} Pre-Registration | The Dalton School
	    </title>


    	
	    <link rel="stylesheet" type="text/css" href="/registrationApp/site_media/CSS/registration.css" />
	    <link rel="stylesheet" type="text/css" href="/registrationApp/site_media/CSS/layout.css" />
		<link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>

		{% block headerscript %}

		{% endblock %}

	</head>

	<body>
		{% block header %}

		{% endblock %}
		{% block content %}

		{% endblock %}
	</body>
		{% block script %}
		
		{% endblock %}
</html>