{% extends "registrationApp/base.html" %}
{% block content %}
<div id = "courseCatalog" class="scroll">
	{% for course in courses %}
		<div id = "{{course.courseName|slugify}}" class = "courseCatalogDiv" style= "width:95%; background:#f5f5f5; margin:auto" >
			<br />
			<b>{{course.courseName}}</b> <br />
			Course #: {{course.courseNumber}}
			<br /> 
			<br /> 
			{{course.courseDescription}}
			<br />
			<br />
			{% if not course.level == 0 and not course.level == 1%}
			Level: {{course.level}}
			{% endif %}
			<br />
			{{course.prerequisite}}
			<br />
			
			{{course.corequisite}}
			<br />
			<br />
			
			{{course.courseCredit}}

			<hr style="height:1px; margin: 1px; width:100%">
		</div>
	{% endfor %}
</div>
{% endblock %}