{% extends "registrationApp/base.html" %}
{% block content %}

	{% for course in courses %}
		<div id = "{{course.courseName|slugify}}" class = "courseCatalogDiv" style= "width:854px" >
			<br>
			{{course.courseName}}
			<br> 
			{{course.courseDescription}}
			<br> <br> <br>
			<br> <br> <br>
			<br> <br> <br>
			<i> Extended Course Description </i>
			<br> <br> <br>
			<br> <br> <br>
			<br> <br> <br>
			<hr style="height:1px; margin: 1px; width:852px">
		</div>
	{% endfor %}



{% endblock %}