{% extends "registrationApp/base.html" %}
{% load url from future %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<img src="{{STATIC_URL}}daltonseal150px.png" width="150" height="150" alt="The Dalton School"/>
<h1> The Dalton School <br> 
Course Registration Website</h1>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table style="margin:auto">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
