{% extends "registrationApp/base.html" %}
{% load registrationApp_extras %}

{% block content %}
{% if full %}
   <div class="container-fluid">
        <div class= "row-fluid" style= "margin-bottom:20px; position:relative" >
            <span id="headerLeft" >
                <ul class="header nav">
                    <li class="slide" style="float:left"><a href="http://dalton.org" target="_blank" rel="tooltip" title="dalton.org">The Dalton School</a></li> 
                    <li class = "slide center"> <a href="#"> <h3>{{ student.firstName }}'s Schedule </h3> </a>
                    <li class="slide" style="float:right"> <a href = "/registrationApp/logout"> Logout</a></li>
                    <li class="sel" style="float:right;" id= "notif"> <a href ="#" id="notifA" class="notifButtonSelected"> </a></li>
                </ul> 
            </span>
        </div>
    </div>

{% endif %}
<div 
{% if full %}
style="width:40%; margin:auto;" class="leftDiv">
<h1> {{student.firstName}}'s Notifications </h1>
{% else %}
style="width:99%; max-height:500px; overflow:auto;">
Notifications:
{% endif %}
	{% if student.advisor1Note %}
    	{% if not full %}<a href="/registrationApp/notifications" target="_blank"> {% endif %}
    		<p>{{student.houseID.houseAdvisor.first_name}} {{student.houseID.houseAdvisorOne_lastName}}'s Note: 
        	<br />
	        {% if full %}
	       		{{student.advisor1Note}}
	       	{% else %}
	       		{{student.advisor1Note|truncatewords_by_chars:75}}
	        {% endif %}
       		</p>
        {% if not full %}</a>{% endif %}
       	<hr style="height:1px; border:0; background-color:#CCCCCC" />
    {% endif %}

    {% if student.advisor2Note  %} 
        {% if not full %}<a href="/registrationApp/notifications" target="_blank"> {% endif %}
  			<p> {{student.houseID.houseAdvisorTwo_firstName}} {{student.houseID.houseAdvisorTwo_lastName}}'s Note: 
            <br />
           	{% if full %}
	       		{{student.advisor2Note}}
	       	{% else %}
	       		{{student.advisor2Note|truncatewords_by_chars:75}}
	        {% endif %}
            </p>
        {% if not full %}</a>{% endif %}
       	<hr style="height:1px; border:0; background-color:#CCCCCC" />
        
    {% endif %}
       
    {% if student.parentNote %}  
        {% if not full %}<a href="/registrationApp/notifications" target="_blank"> {% endif %}
            <p> Parents' Note: 
            <br /> 
		{% if full %}
       		{{student.parentNote}}
       	{% else %}
       		{{student.parentNote|truncatewords_by_chars:75}}
        {% endif %}
			</p>
		{% if not full %}</a>{% endif %}
       	<hr style="height:1px; border:0; background-color:#CCCCCC" />
       	
    {% endif %}
</div>
{% endblock %}