{% extends "registrationApp/headerBase.html" %}
{% load registrationApp_extras %}
{% block title %}
Notifications
{% endblock %}
{% block content %}
<div 
{% if full %}
style="width:40%; margin:auto; min-width:500px;" class="leftDiv">
<h1> {{student.first_name}}'s Notifications </h1>
{% else %}
style="width:99%; max-height:500px; overflow:auto;">
Notifications:
{% endif %}
{% if not student.advisor1Note and not student.advisor2Note and not student.parentNote %}
  <p> You have no notifications </p>
{% endif %}
	{% if student.advisor1Note %}
    	{% if not full %}<a href="/registrationApp/notifications" target="_blank"> {% endif %}
    		<p>{{student.houseID.houseAdvisorOneID.first_name}} {{student.houseID.houseAdvisorOneID.last_name}}'s Note: 
        	<br />
	        {% if full %}
	       		{{student.advisor1Note}}
	       	{% else %}
	       		{{student.advisor1Note|truncatewords_by_chars:75}}
	        {% endif %}
       		</p>
        {% if not full %}</a>{% endif %}
       	<hr style="height:1px; border:0; background-color:#CCCCCC" />
    {% endif %}

    {% if student.advisor2Note  %} 
        {% if not full %}<a href="/registrationApp/notifications" target="_blank"> {% endif %}
  			<p> {{student.houseID.houseAdvisorTwoID.first_Name}} {{student.houseID.houseAdvisorTwoID.last_name}}'s Note: 
            <br />
           	{% if full %}
	       		{{student.advisor2Note}}
	       	{% else %}
	       		{{student.advisor2Note|truncatewords_by_chars:75}}
	        {% endif %}
            </p>
        {% if not full %}</a>{% endif %}
       	<hr style="height:1px; border:0; background-color:#CCCCCC" />
        
    {% endif %}
       
    {% if student.parentNote %}  
        {% if not full %}<a href="/registrationApp/notifications" target="_blank"> {% endif %}
            <p> Parents' Note: 
            <br /> 
		{% if full %}
       		{{student.parentNote}}
       	{% else %}
       		{{student.parentNote|truncatewords_by_chars:75}}
        {% endif %}
			</p>
		{% if not full %}</a>{% endif %}
       	<hr style="height:1px; border:0; background-color:#CCCCCC" />
       	
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$( document ).ready( function() {
      var width = $('#centerHeader').outerWidth();
      $('#centerHeader').css("margin-left", (-(width)/2));
  });
</script>
{% endblock %}