{% extends "registrationApp/base.html" %}  
{% load registrationApp_extras %}

{% block content %}

<div id="alert"></div>
{% if student.submit %}
<p> You have already submitted your schedule. Please talk to your house advisor if you must change your courses. </p>
{% else %}
<h2> Welcome to Pre-Registration!</h2>
<br />
<h3> To your left you'll find a search box and a list of courses.</h3>
<br /> 

<div id="required" class="oneView">
    {% if requiredList %}
        Here is a list of required courses you have to take in {{grade}}th grade: <br />
        {% for req, reqPass, reqMessage in requiredList %}
            <div class= "required roundBorder6" >
                <p class="reqDisc">{{ reqMessage }} 
                {% if reqPass %} 
                    (Completed!) 
                {% else %}
                <input type="image" {%if req.courseID %} name="{{req.courseID.courseNumber}}" id="addRequiredCourse"{% else %}
                name= "{{req.discipline.discipline|slugify}}" id="addRequiredDiscipline"{% endif %} style="display:inline"class="roundButton deleteCloseButton" src="/registrationApp/site_media/Images/add.png" />
                {% endif %} </p><br />
            </div>
        {% endfor %}
    {% endif %}
</div>
<div id = "preapprovals">
{% if not preApprovals|length_is:"0"%}
You are preapproved for the following course(s):
<br /><br />
{% for preapproval, disciplines in preApprovals %}
    <div class= "discipline roundBorder6 {% for discipline in disciplines %} {{discipline.discipline.discipline|slugify}} {% endfor %}" style="width:55%;margin:auto;"> {{ preapproval.courseID.courseName }}<br /> </div>
{% endfor %} 
<br />
{% endif %}
</div>
{% endif %}
        <input type="button" id = "print" class="button" value = "print" onclick="window.open('/registrationApp/printSchedule')"        



{% endblock %}