{% extends "registrationApp/base.html" %}       
{% load registrationApp_extras %}

{% block content %}

<div id="alert"></div>
<h2> Welcome to Pre-Registration!</h2>
<br />
<h3> To your left you'll find a search box and a list of courses.</h3>
<br /> 

<div id="required" class="oneView">
    {% if requiredList %}
        Here is a list of required courses you have to take in {{grade}}th grade: <br />
        {% for req, reqPass, reqMessage in requiredList %}
            <div class= "required roundBorder6" >
                <p class="reqDisc">{{ reqMessage }} 
                {% if reqPass %} 
                    (Completed!) 
                {% else %}
                <input type="image" {%if req.courseID %} name="{{req.courseID.courseNumber}}" id="addRequiredCourse"{% else %}
                name= "{{req.discipline|slugify}}" id="addRequiredDiscipline"{% endif %} style="display:inline"class="roundButton deleteCloseButton" src="/registrationApp/site_media/Images/add.png" />
                {% endif %} </p><br />
            </div>
        {% endfor %}
        <input type = "submit" value = "add all" class="button"/>
    {% endif %}
</div>



{% endblock %}