{% extends "registrationApp/base.html" %}
{% block title %}
	Parent Confirmation |
{% endblock %}

{% block content %}
<div class="container-fluid">
 	<div class="row-fluid">
 		<br />
 		<h3>{{student.first_name}} {{student.last_name}}'s Parent Confirmation </h3>
		<div id = "parentSubmit" class ="success roundBorder6" style="width:30%;margin:auto;">
		<p> Do you approve of your child's schedule?</p>
<span id="spinner" style="display:inline; height:20px;"><img src="/registrationApp/site_media/Images/spinner.gif"/></span>

   		</div>
   		<div class="span4"  style="margin-left:0px">
   			<div class = "leftDiv leftColumnTop" id="parentViewCourseList" style="margin-left:0px">
   			</div>
   			<div class ="leftDiv leftColumnTop">{% if student.studentNote %}{{student.first_name}} {{student.last_name}}'s Note:<br />{{student.studentNote}} {% endif %}</div>
   			<div class = "leftDiv " id="parentViewWarningList" style="margin-left:0px">
   			</div>
	  	</div>
	  	<div class = "span8"  style="margin-left:10px">
	  		<div class = "leftDiv rightDiv" id="parentViewSchedule" >
   			</div>
	  	</div>
	</div>

 	<div class="row-fluid">
 		<br />
		We, {{parents}}, approve of this schedule
		<br />
		<input type="submit" class = "button" value="Yes" name="{{student.id}}" id="parentConfirmYes"/>

		<input type="submit" class = "button" value="No" name="{{student.id}}" id="parentConfirmNo"/>

	</div>

	<div id="output" class="span10">

	</div>


</div>
	<div id = "screen"> </div>

<div id ="revTextDiv" class = "confirmationDiv">
   	<input type="image" id = "close" src="/registrationApp/site_media/Images/delete.png" class= "roundButton deleteCloseButton"/>         
    <div id = "submitConfirmationHeader" class="confirmationHeader" >
        <h1 style="display:inline; position:relative;">Submit Confirmation</h1>
    </div>
<span id="spinner2" style="display:inline; height:20px;"><img src="/registrationApp/site_media/Images/spinner.gif"/></span>

    <div class="confirmationBody">
	    <p>Please write a message for {{ student.first_name }} {{student.last_name}} to review here. This will send them an email notification and let them see it on their schedule page</p> 
		<textarea id="reviewText" cols="50" rows="15"></textarea>	
	</div>

    <div id = "submitConfirmation" class = "submitConfirmationButtons">
        <input type = "submit" value = "Cancel" class = "button" id="parentCancel" />
        <input type = "submit" value = "Send" class = "button" id ="parentSubmit" name="{{ student.id }}" />
    </div>
</div>

{% endblock %}

{% block headerscript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<script type="text/javascript">

$( document ).ready( function() {
	$( '#parentViewCourseList' ).html( '&nbsp;' ).load("{% url studentSchedule %}", {
			student: {{student.id}},
			fromOther: 1,
			csrfmiddlewaretoken: '{{ csrf_token }}'
    }).hide().fadeIn('slow');

    $( '#parentViewWarningList' ).html( '&nbsp;' ).load("{% url warningOutput %}", {
		student: {{student.id}},
		csrfmiddlewaretoken: '{{ csrf_token }}'
    }).hide().fadeIn('slow');

	
	$(document).on("click",  "#parentConfirmYes", function(){
		$.post("{% url ParentConfirmYes %}", { 
			student: $(this).attr("name"),
			csrfmiddlewaretoken: '{{ csrf_token }}'
    	})
    	.success(function(data) { 
			alert(data)
			location.reload();
			//$( '#parentSubmit' ).html(data);
			//$('#parentSubmit').delay(500).effect("highlight", {color:"#fffee0"}, 5000);
    	 });
	});
	function closeConfirmation(){
		$('#revTextDiv, #screen').fadeOut('slow',function(){
			$(this).css({"display": "none"})
		});
	}
	$(document).on("click", "#parentCancel, #close", function(){
		closeConfirmation();
    });


	$(document).on("click", "#parentConfirmNo", function(){
   		$('#screen').css({"display": "block", "opacity": 0.7}).hide().fadeIn('slow');    
   		$('#revTextDiv').css({"display": "block"}).hide().fadeIn('slow');
	});

	{% if student.submit and not student.parentApproval %}
	$(document).on("click", "#parentSubmit", function(){
		$.post("{% url parentReview %}", { 
			student: $(this).attr("name"),
            message : $('#reviewText').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
    	})
    	.success(function(data) { 
			closeConfirmation();
			alert(data)
			location.reload();
    	 });
    });
    {% endif %}

	{% if not student.submit or student.parentApproval %}

   		$('#screen').css({"display": "block", "opacity": 0.7}).hide().fadeIn('slow'); 
   		$('#revTextDiv').html("<br /><br />	Sorry, your child has not submitted yet, or you have already approved your child! <br /><br />")
   		$('#revTextDiv').css({"display": "block"}).hide().fadeIn('slow');
		
	{% endif %}
	$('#spinner,#spinner2')
    .hide()
    .ajaxStart(function() {
        $(this).show();
    })
    .ajaxStop(function() {
        $(this).hide();
	});
});


</script>

{%endblock%}