{% extends "registrationApp/headerBase.html" %}
{% block title %}
Preapprovals |
{% endblock %}
{% block headerscript %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
			<div class="leftDiv" style="width:75%; margin:auto;">
				{% for courseList in courses %}
				{% for course in courseList %}

					<input type = "submit" id = "preAppCourse"  class= "button" style="margin-right:15px; padding:6px;" name = "{{course.courseNumber}}" value = "{{course.courseName}}"/>
				{% endfor %}
				{% endfor %}

				<br />
				<br />
				
		<span id="spinner" style="display:inline; height:20px;"><img src="/registrationApp/site_media/Images/spinner.gif"/></span>

				<div id = "textBoxArea">

				</div>
			</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$( document ).ready( function() {
	var width = $('#centerHeader').outerWidth();
    $('#centerHeader').css("margin-left", (-(width)/2));
    $(document).on("click", "#preAppCourse", function(){
		$( '#textBoxArea' ).html( '&nbsp;' ).load("{% url preappContainer %}", {
			courseNumber: $(this).attr("name"),
			csrfmiddlewaretoken: '{{ csrf_token }}'
	   	}).hide().fadeIn('slow');
    });



    $(document).on("click", "#preAppNames", function(){
		$.post("{% url preappAdd %}", {
		courseNumber: $(this).attr("name"),
		preappName : $('#comments').val(),
		csrfmiddlewaretoken: '{{ csrf_token }}'
	    })
	    .success(function(data) { 
	        $( '#textBoxArea' ).html(data);
	    });
	
    });
    $('#spinner')
    .hide()
    .ajaxStart(function() {
        $(this).show();
    })
    .ajaxStop(function() {
        $(this).hide();
	});
});
</script>
{% endblock %}