{% extends "registrationApp/headerBase.html" %}

{% block title %}
PreApprovals | The Dalton School
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
			<div class="leftDiv" style="width:75%; margin:auto;">
				{% for course in courses %}
					<input type = "submit" id = "preAppCourse"  class= "button" style="margin-right:15px; padding:6px;" name = "{{course.courseNumber}}" value = "{{course.courseName}}"/>
				{% endfor %}
				<div id = "textBoxArea">

				</div>
			</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$( document ).ready( function() {

    $(document).on("click", "#preAppCourse", function(){
		$( '#textBoxArea' ).html( '&nbsp;' ).load("{% url preappContainer %}", {
			courseNumber: $(this).attr("name"),
			csrfmiddlewaretoken: '{{ csrf_token }}'
	   	}).hide().fadeIn('slow');
    });
    $(document).on("click", "#preAppNames", function(){
		$( '#textBoxArea' ).html( '&nbsp;' ).load("{% url preappAdd %}", {
			courseNumber: $(this).attr("name"),
			preappName : $('#comments').val(),
			csrfmiddlewaretoken: '{{ csrf_token }}'
	   	}).hide().fadeIn('slow');
    });
});
</script>
{% endblock %}