{% extends "registrationApp/base.html" %}

{% block title %}
    Pre-Registration | The Dalton School
{% endblock %}

{% block headerscript %}
<script type="text/javascript">
    function notifReadButton(){
        $('#notif').toggleClass("slide");
        $('#notif').toggleClass("sel");
        $('#notifA').toggleClass("notifButtonSelected");
        
        if ($('#notifDiv').is(":hidden")){
                $('#notifDiv').slideDown("slow");
                $('#notifDiv').load('{% url notifications %}')
                nDiv.data("loaded", true);
            } else {
                $('#notifDiv').slideUp("slow");
            }
        return false;
    }
    </script>   
	<link type="text/css" href="/registrationApp/site_media/CSS/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
{% endblock %}

{% block content %}

{% if student.advisor1Note and not student.advisor1NoteRead or student.advisor2Note and not student.advisor2NoteRead or student.parentNote and not student.parentNoteRead %}
    <div id= "screen"></div>
    <div id ="notification" class = "confirmationDiv">
    <input type="image" id = "close2" class="roundButton deleteCloseButton" src="/registrationApp/site_media/Images/delete.png" />            
        <div class="confirmationHeader roundBorderTopRight roundBorderTopLeft">
            <h1 style="display:inline; position:relative;"> Notifications </h1>
        </div>
        <div class= "confirmationBody">
            {% if student.advisor1Note and not student.advisor1NoteRead %}
                Advisor 1's Note:  <br />{{student.advisor1Note}}<br /> <br />
            {% endif %}

            {% if student.advisor2Note and not student.advisor2NoteRead %}  
                Advisor 2's Note:  <br />{{student.advisor2Note}} <br /> <br />
            {% endif %}
               
            {% if student.parentNote and not student.parentNoteRead  %}   
                Parent's Note: <br /> {{student.parentNote}} <br /> <br />
            {% endif %}
        </div>

        <div class = "submitConfirmationButtons roundBorderBottomLeft roundBorderBottomRight">
            <input type = "submit" value = "OK" class = "button" id="readNotifications" />
        </div>
    </div>

{% endif %}

   <div class="container-fluid">
        <div class= "row-fluid" style= "margin-bottom:20px; position:relative" >
            <span id="headerLeft" >
                <ul class="header nav">
                    <li class="slide" style="float:left"><a href="http://dalton.org" target="_blank" rel="tooltip" title="dalton.org">The Dalton School</a></li> 
                    <li class = "slide center"> <a href="#"> <h3>{{ student.first_name }}'s Schedule </h3> </a>
                    <li class="slide" style="float:right"> <a href = "/registrationApp/logout"> Logout</a></li>
                    <li class="slide" style="float:right;" id= "notif"> <a href ="#" onclick = "notifReadButton(); return false;" rel="tooltip" title="notifications" id="notifA" class="notifButton opaqueImage"> </a></li>
                </ul> 
            </span>
        </div>
    </div>
<span id="notifDiv" class="roundBorder6"></span>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <div id = "leftColumnTop" class = "leftDiv leftColumnTop">
                
                <input type="text" name="search" id= "searchBox" autocomplete="off" placeholder="Enter a Course, Discipline, or Period" />
        
<span id="spinner" style="display:inline; height:20px;"><img src="/registrationApp/site_media/Images/spinner.gif"/></span>
                <div id="results">

                </div>

            </div>
            
            <div id="result" class="leftDiv">

            </div>
                

        </div><!--/span-->
                	

        <div class="span8">
            <div id= "tabs" class="rightDiv" >
                <ul class="tabs">
                    <li id ="tab1"><a href="{% url one %}">one</a></li>
                    <li id="tab2"><a href="#tabs-2">schedule</a></li>
                    <li id="tab3"><a href="{% url catalog %}">catalog</a></li>
                </ul>
                    
                <div id="tabs-2">
                    <p>schedule</p>
                </div>
            </div>
        </div>
              
    </div><!--/row-->
</div>
 
{% endblock %}

{% block script %}

<script type="text/javascript">

$( document ).ready( function() {
    $(' #tabs' ).tabs();
    $(' #tabs' ).tabs("load", 0);

	$('#searchBox').focus();	
	$('#result').load('{% url add %}').hide().fadeIn('slow');
    var  mouseHover;
    $('a[rel=tooltip]').live("mouseenter", function(e){
        $anchor = $(this);
        mouseHover = true;
        var tip = $(this).attr('title');    
        $(this).removeAttr('title');
        if (mouseHover == true){
                var offset = $(this).offset();
                var width = $(this).outerWidth();
                $(this).append($('<div id="tooltip" class="roundBorder6">' + tip + '</div>').stop().show(980).hide().fadeIn('slow'));
                var timer3;
                function showTip(){ 
                    $('#tooltip').css("left", (offset.left + (width)/2 - ($('#tooltip').outerWidth() ) /2 ));
                    $('#tooltip').css("top", (offset.top + 28));
                }

            timer3 && clearTimeout(timer3);
            timer3 = setTimeout(showTip, 1000);
        }
    });
    $('a[rel=tooltip]').live("mouseleave", function(e){
        mouseHover = false;
        $(this).attr('title',$('#tooltip').html());
        $(this).children('div#tooltip').remove();
    });
	{% if student.advisor1Note != " " and student.advisor1NoteRead == 0  or  student.advisor2Note != " " and student.advisor2NoteRead == 0  or  student.parentNote != " " and student.parentNoteRead == 0  %}
		$('#screen').css({"display": "block", "opacity": 0.7}).hide().fadeIn('slow');    
   		$('#notification').css({"display": "block"}).hide().fadeIn('slow');
	{% endif %}


	function getSearchVal(){
		q = $('#searchBox').val();
		$( '#results' ).html( '&nbsp;' ).load("{% url searchResults %}",{
			q : q,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		}).hide().fadeIn('1000');
         
	}
    function autoFillVal(){
        $.post("{% url searchResults %}",{q : $('#searchBox').val(), fromBox: "False", csrfmiddlewaretoken: '{{ csrf_token }}'},
        function(data) {
            if (data != ""){
                autoFill(data)
            }
        });
    }
	var lastKeyPressCode = null
	var timer;
    var timer2;

	var search = ($("#searchBox").val());
	$('#searchBox').keyup(function(e){
		e.preventDefault();
        lastKeyPressCode = e.keyCode;
		var newVal = ($("#searchBox").val());
		if (newVal != search) {
			search = newVal;

			timer && clearTimeout(timer);
            timer = setTimeout(autoFillVal, 200);  

            timer2 && clearTimeout(timer2);

			timer2 = setTimeout(getSearchVal, 200);	
		}
	});
    function autoFill(sValue){
        if ((lastKeyPressCode != 8) && (lastKeyPressCode!= 46)){
            $input = $('#searchBox').val();
            prev = $input;
            $('#searchBox').val($input + sValue.substring(prev.length));
            createSelection(prev.length, sValue.length);
        }
    };

    function createSelection(start, end){
        var field = $("#searchBox").get(0);
        if( field.createTextRange ){
            var selRange = field.createTextRange();
            selRange.collapse(true);
            selRange.moveStart("character", start);
            selRange.moveEnd("character", end);
            selRange.select();
        } else if( field.setSelectionRange ){
            field.setSelectionRange(start, end);
        } else {
            if( field.selectionStart ){
                field.selectionStart = start;
                field.selectionEnd = end;
            }
        }
        field.focus();
    };

	$(' #tabs' ).tabs();
	$(' #tabs' ).tabs("load", 2);

	$(document).on("click", "#searchResults > a, #courseNameLink", function(f){
		f.preventDefault();
		$('#tabs' ).tabs();
		$('#tabs' ).tabs("select", 2);
		var scrollto = $($(this).attr('href')).position().top + $('#courseCatalog').scrollTop() -50;
		$('#courseCatalog').stop(true).animate({ scrollTop: scrollto }, 1000);
		$($(this).attr('href')).delay(700).effect("highlight", {color:"#fffee0"}, 4000);
	});

    $(document).on("click", "#addSection", function(){
		$( '#result' ).html( '&nbsp;' ).load("{% url add %}", {
			section: $(this).attr("name"),
			csrfmiddlewaretoken: '{{ csrf_token }}'
       	}).hide().fadeIn('slow');
    });
    $(document).on("click", "#delete", function(){
		$( '#result' ).html( '&nbsp;' ).load("{% url delete %}", {
			studSched : $(this).attr("name"),
			csrfmiddlewaretoken: '{{ csrf_token }}'
       	}).hide().fadeIn('slow');
    });
	
    $(document).on("click", "#searchElement", function(){
		$('#searchResults #searchElement' ).removeClass('selectedDiv');
		$(this).toggleClass('selectedDiv');
	});
	function closeConfirmation(x){
		$(x).fadeOut('slow',function(){
			$(this).css({"display": "none"});
		});
	}

    $(document).on("click", "#submitAll", function(){
   		$('#screen').css({"display": "block", "opacity": 0.7}).hide().fadeIn('slow');    
   		$('#confirmation').css({"display": "block"}).hide().fadeIn('slow');
	});	

    $('#results').hover(
        function () {   
            $(this).css({"overflow-y": "auto"}); 
        },
        function () {
           $(this).css({"overflow-y": "hidden"});
        }
    );
	$(document).on("click", "#schedSubmitYes", function(){
		$(' #tabs' ).tabs();
		$(' #tabs' ).tabs("select", 0);
		$( '#tabs-1' ).html( '&nbsp;' ).load('{% url submit %}').hide().fadeIn('slow');
		$( '#result' ).html( '&nbsp;' ).load('{% url add %}').hide().fadeIn('slow');
		closeConfirmation($("#screen"));
        closeConfirmation($("#confirmation"));
	});

	$(document).on("click", "#schedSubmitNo, #close", function(){
        closeConfirmation($("#screen"));
        closeConfirmation($("#confirmation"));
	});

	$(document).on("click", "#cancel, #close2", function(){
		closeConfirmation($("#notification"));
        closeConfirmation($("#screen"));
	});

    $(document).on("click", "#addRequiredCourse", function(){
        $( '#result' ).html( '&nbsp;' ).load("{% url add %}", {
            course : $(this).attr("name"),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }).hide().fadeIn('slow');
    });

    $(document).on("click", "#addRequiredDiscipline", function(){
        $( '#results' ).html( '&nbsp;' ).load("{% url searchResults %}", {
            q : $(this).attr("name"),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }).hide().fadeIn('slow');
    });

	$(function() {
		$( "#tabs" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Could not load this tab. Please Refresh the page.");
				}
			}
		});
	});

	$(document).on("click", "#readNotifications", function(){
        var notes = "";
		{% if student.advisor1Note and not student.advisor1NoteRead %}
			notes += "advisor1Note,";
	   	{% endif %}

	   	{% if student.advisor2Note and not student.advisor2NoteRead %}	
            notes += "advisor2Note,";
	   	{% endif %}
		   
        {% if student.parentNote and not student.parentNoteRead %} 
            notes += "parentNote";
        {% endif %}

        $.post( "{% url notifRead %}",{
            note : notes,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        function(data){
            $('#alert').append(data).effect("highlight", {color:"#fffee0"}, 2000).hide(7000);
        });
	    closeConfirmation($("#notification"));
        closeConfirmation($("#screen"));
	});
});

$( document ).ajaxStart( function() {
	$( '#spinner' ).show();
}).ajaxStop( function() {
	$( '#spinner' ).hide();
});

</script>


{%endblock%}