{% extends "registrationApp/base.html" %}
{% load registrationApp_extras %}

{% block content %}

{% if courseList|length %}

	<strong> <div  style= "background-color:#fffee0;" >Found {{ courseList|length }} Course{{ courseList|pluralize }} with {{searchTerms|lower}}:</strong></div>
	<hr />

	{% for course, rank, sections, availForGrade, preApproved, disciplines in courseList %}
		<div id="searchResults" style="width:97.3%;" >	

			<a href ="#{{course.courseName|slugify}}" >
			
			{% if not availForGrade or course.preapprovalRequired and not preApproved %} 
				<div id= "overlay" style = "background:rgba(0,0,0,.15); display:block; position:relative;">
			{% endif %}
				
			<div id ="searchElement" class="row-fluid" style="margin:auto; ">
				
				<span class="span7" id="tool" title="{{course.courseName}}"><b>{{course.courseName|truncatewords_by_chars:60}}</b> <br /> 
				<i> {% for discipline in disciplines %}{{discipline.discipline.discipline}}{% endfor %} </i>  </span>

				<span style="float:right;" class="span5">
					<span style = "margin:auto">
						{% for section, period, day in sections %}
							
							<div id="tool" title="{{day|toDays}}">
							<input type="submit" name ="{{section.id}}" {% if not student.submit %} id = "addSection" {% endif %} class ="{% if not student.submit %} button {% else %} grayButton {% endif %}" value="{{period}}"  />
						</div>
						{% endfor %}
					</span>
				</span>
			</div>	
			{% if not availForGrade or course.preapprovalRequired and not preApproved %} 
				</div>
			{% endif %}	 
			<hr style="width:100%;" />
		</a>
	</div>	

	{% endfor %}

{% else %}
	No courses found for {{searchTerms|lower}}. Please try a different search term.
{% endif %}

{% endblock %}
