{% extends "registrationApp/base.html" %}

{% block content %}
<table>
{% if courseOptions|length %}
	<tr>
		<td>
		<strong>Found {{ courseOptions|length }} Courses:</strong>
		</td>
	</tr>
{% for sec in allSec %}
	
	<tr class="{% cycle 'odd' 'even' %}">
		<td >
			{% for section in sec|slice:":1"%}
    		<div>
    		<label for="course{{forloop.counter}}"> <b>{{section.courseID.courseName}} </b> 
    		{% for section in sec %}
				<input type="submit" name ="{{section.id}}" id = "add" value="{% if not "0" in section.APeriodDays %}A{% endif %}{% if not "0" in section.BPeriodDays %}B{% endif %}{% if not "0" in section.CPeriodDays %}C{% endif %}{% if not "0" in section.DPeriodDays %}D{% endif %}{% if not "0" in section.EPeriodDays %}E{% endif %}{% if not "0" in section.FPeriodDays %}F{% endif %}{% if not "0" in section.GPeriodDays %}G{% endif %}{% if not "0" in section.HPeriodDays %}H{% endif %}{% if not "0" in section.IPeriodDays %}I{% endif %}{% if not "0" in section.KPeriodDays %}K{% endif %}{% if not "0" in section.ZPeriodDays %}Z{% endif %}" />
			{% endfor %}

			<br>
			<b> <i> {{section.courseID.discipline.discipline}}</i> </b> {{section.courseID.courseDescription}}  
			</label>
   			</div>

   			{% endfor %}

		</td>
	</tr>

{% endfor %}

{% else %}
	<tr>
		<td>
	Your search yielded no results
		</td>
	</tr>
	
{% endif %}
</table>


{% endblock %}
