{% extends "registrationApp/base.html" %}
{% block script %}

<script type="text/javascript">
			$( document ).ready( function() {
				$('#q').focus();	
				$('#q').focus(function() {
					$(this).css('background','#FFFBD0');
				});
				$('#q').blur(function() {
					$(this).css('background','#FFFFFF');
				});
				

			$('#result').load('{% url add student.id%}').hide().fadeIn('slow');

				
				function getSearchVal(){
					q = $('#q').val();
					q = q.replace(/ /g,"_");
					$( '#results' ).html( '&nbsp;' ).load('{% url searchResults student.id%}?q=' + q).hide().fadeIn('slow');
				}

				var timer;
				var search = ($("#q").val());
				$('#q').keyup(function(e){
					e.preventDefault();
					var newLength = ($("#q").val());
					if (newLength !== search) {
						searchLength = newLength;
	   					timer && clearTimeout(timer);
	   					timer = setTimeout(getSearchVal, 400);
	   				}
				});
				
				$('#searchSubmit').click(function(){
					getSearchVal();
				});	

				
				$( '#add' ).live("click", function() {
					section = $(this).attr("name");
					$( '#result' ).html( '&nbsp;' ).load('{% url add student.id%}?section=' + section).hide().fadeIn('slow');
				});

				$( '#delete' ).live("click", function() {
					studSched = $(this).attr("name");
					$( '#result' ).html( '&nbsp;' ).load( '{% url delete student.id%}?studSched=' + studSched).hide().fadeIn('slow');
				});

			});

			$( document ).ajaxStart( function() {
				$( '#spinner' ).show();
			}).ajaxStop( function() {
				$( '#spinner' ).hide();
			});
		</script>
		{% endblock %}
{% block content %}
   <div class="container"> 

<h1> {{ student.firstName }}'s Schedule </h1>

<input type="text" name="search" id= "q" autocomplete="off" placeholder="Enter a Course, Discipline, Period, or Required to find a match" class = "span-10"/>

<div class= "span-13">
<br>
<br>
</div>



<div>
	<span id="spinner"><img src="{{ STATIC_URL }}spinner.gif"/></span>
</div>

<div id="results" ></div>

<hr style="height:1px; margin: 1px; width:540px">

<div id="result" class="span-10"> </div>
   </div>

{% endblock %}
