{% extends "registrationApp/base.html" %}
{% load registrationApp_extras %}
{% block headerscript %}
			
{% endblock %}

{% block content %}
{% csrf_token %} 
{% if cover %} <div id="cover"> {% endif %}

{% for studSched, prd, disciplines, sectionOptions, rank, dayz, droppable, show in studentSchedule %}
	<div class="{% for discipline in disciplines %} {{discipline.discipline.discipline|slugify}} {% endfor %} discipline roundBorder6" id = "{{studSched.id}}" style = "{% if studSched.sectionID.semesterOne != studSched.sectionID.semesterTwo %}width:49.5%;{% if studSched.sectionID.semesterTwo %}float:right;{% endif %}{% else %}width:99%;{% endif %};z-index:{{forloop.revcounter|multiply:100}};clear:both;">

		<ul id="disciplineProperties"class="nav dd" style= "max-width:80%; margin:auto;" >
			{% if not show %}
			<li><a rel="tooltip" title="{{studSched.alternateFor.courseName}}"> Alt. for {% if studSched.sectionID.semesterOne != studSched.sectionID.semesterTwo %}{{studSched.alternateFor.courseName|truncatewords_by_chars:1}}{% else %}{{studSched.alternateFor.courseName|truncatewords_by_chars:10}}{% endif %}</a> </li>
			{% endif %}
			{% if rank %}
				<li id="rankStudentScheduleView"> {{rank}} </li>
			{% endif %}
			<li id="courseName" ><a rel ="tooltip" id = "courseNameLink" title = "{{studSched.sectionID.courseID.courseName}}">
				{% if studSched.sectionID.semesterOne != studSched.sectionID.semesterTwo %}{{studSched.sectionID.courseID.courseName|truncatewords_by_chars:15}}{% else %}{{studSched.sectionID.courseID.courseName|truncatewords_by_chars:30}}{% endif %}</a></li>

			<li class="{% if sectionOptions|length != 0 %}dropdown{% else %}dropdownFalse{% endif %}" >
				<a rel = "tooltip" class="dropdown-toggle"  data-toggle="dropdown" title= "{{dayz|toDays:prd}}" {% if sectionOptions|length != 0 %}href="#"{% endif %} > {{prd}} {% if sectionOptions|length != 0 %} <b class="caret"></b> {% endif %}</a> 			
				{% if sectionOptions %}
					<ul class = "dropdown-menu">
						{% for sectionOpt, period, days in sectionOptions %}
						<li><a href = "#" rel="tooltip" title= "{{days|toDays:prd}}" id="switch">{{period}}</a></li>
						{% endfor %}	
					</ul>
				{% endif %}
			</li>
		</ul>
	</div>

{% endfor %}
{% if reqMessage %}
	{% for req, reqMsg in reqMessage %}
	<div id = "{{req.courseID}}{{req.discipline|slugify}}" style= "clear:both;" class = "required roundBorder6"><p style="line-height:5px"><i>{{reqMsg}}</i></p></div>
	{% endfor %}
{% endif %}
{% if cover %} </div> {% endif %}

{% endblock %}