{% extends "registrationApp/base.html" %}
{% block content %}

{% csrf_token %}
{% for section in sectionOptions %}

	{% if not "0" in section.APeriodDays %}
		A
	{% endif %}
	{% if not "0" in section.BPeriodDays %}
		B
	{% endif %}
	{% if not "0" in section.CPeriodDays %}
		C
	{% endif %}
	{% if not "0" in section.DPeriodDays %}
		D
	{% endif %}
	{% if not "0" in section.EPeriodDays %}
		E
	{% endif %}
	{% if not "0" in section.FPeriodDays %}
		F
	{% endif %}
	{% if not "0" in section.GPeriodDays %}
		G
	{% endif %}
	{% if not "0" in section.HPeriodDays %}
		H
	{% endif %}	
	{% if not "0" in section.IPeriodDays %}
		I
	{% endif %}
		{% if not "0" in section.KPeriodDays %}
		K
	{% endif %}
	{% if not "0" in section.ZPeriodDays %}
		Z
	{% endif %}
							
	<input type="submit" id="add" value="{{ section.id }}" />
    <label for="course{{ forloop.counter }}">{{ courseSelected.courseName }}</label><br />
{% endfor %}

{% endblock %}
